*.tlog
*.ilk
*.pdb
*.vsidx
*.tlog
*.ipch
*.ilk
*.log
*.pdb
*.db-shm
*.db-wal
*.db
*.opendb
*.lock
database.db
WIN_StartupSPASolution/Code_18/.vs/
WIN_StartupSPASolution/Code_18/Debug
WIN_StartupSPASolution/Code_18/SPA/Debug
WIN_StartupSPASolution/Code_18/SPA/Release

